<div class="twelve wide centered column">
  <h2>Hello, <%= @user.username %>!</h2>
  <div class="ui two column grid">
    <div class="six wide column">
      <%= render 'feed', user: @user %>
    </div>
    <div class="ten wide column">
      <div class="ui three stackable cards">
      <% @user.get_sales_as_bidder.each do |sale| %>
        <%= render 'assets/card', sale: sale %>
      <% end %>
      </div>
    </div>
  </div>
<%= link_to "Edit my account", edit_user_path %>
</div>