<div class="twelve wide centered column">

  <div class="ui five stackable cards">
    <% @sales.each do |sale| %>
      <%= render 'assets/sale_card', sale: sale %>
    <% end %>
  </div>
  
</div>
  

