<h1>All sales:</h1>
<% @sales.each do |sale| %>
  <p>
    <%= sale.item.name %> for $<%= sale.price %> <br>
    posted by: <%= sale.user.username %>
    <%= link_to "New Bid", new_bid_path(:sale => sale.id) %>
  </p>
<% end %>

